<div class="user-label">
  First Name: </br> </br>
  Last Name: </br> </br>
  Phone Number: </br></br>
  Email: </br></br>
</div>


<div class="user-form">
<%= simple_form_for @tenant do |f| %>
    <%= f.input :first_name, required: true, autofocus: true, label: false %></br>
    <%= f.input :last_name, required: true, autofocus: true, label: false %></br>
    <%= f.input :phone_number, required: true, autofocus: true, label: false %></br>
	<%= f.input :email, label_method: :email, label: false %></br>
  <%= f.submit class: 'btn btn-primary' %>  
<% end %>
</div>


