<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<div class = "my-form-container">
  <% if tenant_signed_in? %> 
      <%= simple_form_for @tenant do |f| %>
        <h2> Select a Building </h2>
        <p>         

			<div class="new-form"> 
				<%= f.association :building, label_method: :building_name, prompt: "Select Building" %>
			</div> <br> <br>
			
			<div class="new-form"> 
				<%= f.association :apartment, label_method: :apartment_name, prompt: "Select Apartment" %>
			</div> <br> <br>

          <%= f.submit class: 'btn btn-primary' %>
        </p>
      <% end %>
  <% end %>
</div>