<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<h2> Select a Building </h2>
<div class = "my-form-container">
  <% if tenant_signed_in? %> 
      <%= simple_form_for @tenant do |f| %>
        <p>         
  			<div class="new-form"> 
  				<%= f.association :building, label_method: :building_name, prompt: "Select Building" %>
  			</div> <br> <br>
  			
  			<div class="new-form"> 
  				<%= f.association :apartment, label_method: :apartment_name, prompt: "Select Apartment" %>
  			</div> <br> <br>

        <div class="new-form"> 
          <%= f.label :landlord_name %>
          <%= f.text_field :landlord_name, data: {autocomplete_source: Landlord.order(:last_name).map(&:full_name)}%>
        </div> <br> <br>

          <%= f.submit class: 'btn btn-primary' %>
        </p>
      <% end %>
  <% end %>
</div>