<h1> Connection </h1>


<div class="my-form-container">
  <%= simple_form_for @connection do |f| %>

    <div class="notest"> 
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div> </br>

    <% if tenant_signed_in? %>
      <div class="notest"> 
        <% f.label "Landlord's Full Name" %>
        <% f.text_field :landlord_name, data: {autocomplete_source: Landlord.order(:last_name).map(&:full_name)}%>
      </div></br>

      <div class="notest"> 
        <%= f.association :landlord, label_method: :full_name,
        as: :collection_select%>
      </div>
    <% end %>


    <div class="notest"> 
	    <%= f.label  :start_date, label: "Start: " %>
	    <%= f.date_select :start_date %> &nbsp &nbsp

	    <%= f.label  :end_date, label: "End:" %>
	    <%= f.date_select :end_date %>
    </div>  </br>

    <div class="notest"> 
      <%= f.association :apartment, label_method: :apartment_name,
      as: :collection_select, label: 'Select Apartment',:wrapper_html => { :style => 'display: inline' }%> 
      <sup> <span style="font-size: 12px; display: inline-block;"><%= link_to 'Apartment Not Listed?', new_apartment_path %> </span></sup>
    </div>  </br>

    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
</div>



<!-- http://railscasts.com/episodes/213-calendars -->
<!-- f.text_field :apartment_city, data: {autocomplete_source: Apartment.order(:city).map(&:city)} -->