<h1> testing approved form </h1>


<%= form_tag approve_connections_path, :method => :put do %>
  <ul>
  <% @current_connections.each do |connection| %>
    <li>
		<%= connection.get_start if connection.start_date %> <br>
		<%= connection.get_end if connection.end_date %> <br>
		<%= connection.apartment.apartment_name if connection.apartment %> <br>
		<%= check_box_tag "connection_ids[]", connection.id %> <br><hr><br><br>
    </li>
  <% end %>
  </ul>
  <%= submit_tag "Approve" %>
<% end %>
