<h1>Show Connections</h1>

<div class="one-container">
	<p>
	<%= @connection.start_date.strftime("%B %e, %Y ") %> </br>
	<%= @connection.end_date.strftime("%B %e, %Y ") %> </br>
	<%= @connection.apartment.apartment_name %> </br>
	<%= @connection.apartment.landlord.full_name %> </br>

	<% @tenants.each do |tenant| %>
		<%= tenant.full_name %> </br>
		<%= tenant.email %> </br>
		<%= tenant.phone_number %> </br>
	<% end %>
	</p>
</div>
