<h1>Notices</h1>
<h2> <%= link_to 'Print Notices (PDF)', notices_path(@notice, format: :pdf) %> </h3>

<% if landlord_signed_in? %>
	<div class="notices-print">
	<% @current_notices.each do |notice| %>
		<% if notice != Notice.first %>
			<% if notice.landlord == current_landlord %>
				<%= notice.apartment.apartment_name if notice.apartment %> </br>
				From: <%= notice.tenant.full_name if notice.tenant %> 
				<%= notice.landlord.full_name if notice.landlord %>  </br>				
				Type: <%= notice.notice_type %> </br>
				Subject: <%= notice.title %> </br>
				<%= simple_format(notice.body)%> </br>	
				<%= notice.get_time %>
				<hr>
			<% end %>
		<% else %>
			<% if notice.landlord == current_landlord %>
				<%= notice.apartment.apartment_name if notice.apartment %> </br>
				From: <%= notice.tenant.full_name if notice.tenant %>
				<%= notice.landlord.full_name if notice.landlord %>  </br>				
				Type: <%= notice.notice_type %> </br>
				Subject: <%= notice.title %> </br>
				<%= simple_format(notice.body) %> </br>	
				<%= notice.get_time %>
			<% end %>
		<% end %>
	<% end %>
	</div>
<% elsif tenant_signed_in? && current_tenant.apartment %>
	<div class="notices-print">
	<% @current_notices.each do |notice| %>
		<% if notice != Notice.first %>
			<% if notice.apartment == current_tenant.apartment %>
				<%= notice.apartment.apartment_name if notice.apartment %> </br>
				From: <%= notice.tenant.full_name if notice.tenant %> 
				<%= notice.landlord.full_name if notice.landlord %>  </br>				
				Type: <%= notice.notice_type %> </br>
				Subject: <%= notice.title %> </br>
				<%= simple_format(notice.body)%> </br>	
				<%= notice.get_time %>
				<hr>
			<% end %>
		<% else %>
			<% if notice.apartment == current_tenant.apartment %>
				<%= notice.apartment.apartment_name if notice.apartment %> </br>
				From: <%= notice.tenant.full_name if notice.tenant %>
				<%= notice.landlord.full_name if notice.landlord %>  </br>				
				Type: <%= notice.notice_type %> </br>
				Subject: <%= notice.title %> </br>
				<%= simple_format(notice.body) %> </br>	
				<%= notice.get_time %>
			<% end %>
		<% end %>
	<% end %>
	</div>
<% end %>




