<h1>Landline</h1>

<div class="one-container">
	<p>
	<%= @notice.apartment.apartment_name %> </br>
	From: <%= @notice.tenant.full_name if @notice.tenant %> 
	<%= @notice.landlord.full_name if @notice.landlord %> </br>
	<%= @notice.notice_type %> </br>
	<%= @notice.title %> </br>
	<%= @notice.body %> </br>
	<%= @notice.get_time %> </br>
	</p>
</div>
