<h1>Notices#show</h1>

<p>
<%= @notice.notice_type %> </br>
<%= @notice.title %> </br>
<%= @notice.body %> </br>
TenantId: <%= @notice.tenant_id %> </br>
ApartmentId: <%= @notice.apartment_id %>

</p>
