<h1> Welcome to Reach Out </h1>

<h3 class="stats-container">

	<div id="stats"><%= Tenant.count %></div> subscribed tenants in 
	<div id="stats"><%= Apartment.count %></div> apartments in 
	<div id="stats"><%= Building.count %></div> buildings with 
	<div id="stats"><%= Landlord.count %></div> landlords.

</h3>


<p class="options"> 
<% if tenant_signed_in? %> 
	<%= link_to 'Subscribe to existing apartment', tenants_find_path(current_tenant) %> &nbsp | &nbsp
	<%= link_to 'Register an apartment', new_apartment_path %> &nbsp | &nbsp
	<%= link_to 'Post a Notice', new_notice_path %> 

	<p class="apartment-name"> 
	<%= current_tenant.apartment.apartment_name if current_tenant.apartment %>
	</p>
	<p>

	<div class="all-apartments-container">
		<div class="apartment-tenants">
			<h2> Apartment Information </h2>

			<%= current_tenant.apartment.apartment_name %> </br>
			<%= current_tenant.apartment.number_of_tenants %> tenants: </br> </br>

			<div class="tenant-info">
			<% Tenant.all.each do |tenant| %>
				<% if tenant.apartment_id == current_tenant.apartment_id %>
					Name: <%= tenant.full_name	%> </br>
					Phone: <%= tenant.phone_number %> </br>
					Email: <%= tenant.email %> </br> </br>
				<% end %>
			<% end %></div>	
		</div>

		<div class="apartment-notices">
			<h2> Notice Board </h2>
			<% Notice.all.each do |notice| %>
				<% if notice.apartment == current_tenant.apartment %>
					From: <%= notice.tenant.full_name if notice.tenant %>
					<%= notice.landlord.full_name if notice.landlord %>  </br>				
					Type: <%= notice.notice_type %> </br>
					Subject: <%= notice.title %> </br>
					<%= notice.body %> </br>	
					<%= notice.created_at.strftime("%a. %B %e, %Y at %I:%M%P")  %>
					<hr>
				<% end %>
			<% end %>
		</div>
	</div>

	</p>


<% elsif landlord_signed_in? %> 
	<%= link_to 'Register a tenant', new_tenant_path %> &nbsp | &nbsp
	<%= link_to 'Register an apartment', new_apartment_path %> &nbsp | &nbsp
	<%= link_to 'Register a building', new_building_path %> 
</br>
	
	<div class="building-list-container">
		<% Building.all.each do |building| %>
			<% if building.landlord == current_landlord %>
				<%= link_to building.building_name, building_path(building) %> <br>
				<%= building.number_of_apartments %> apartment(s)
			<% end %>
		<% end %>
	</div>
<% end %>

</p>