<script>

$('.searchify').searchify();

</script>

<h1> Landline 
<sup> 
	<% if landlord_signed_in? %>
		for Landlords
	<% elsif tenant_signed_in? %>
		for Tenants
	<% end %>
</sup>
</h1>

<p class="options"> 
<% if tenant_signed_in? %> 

	<img src="/assets/png/glyphicons-125-message-plus.png" class="glyphicons glyphicons-message-plus"></span> <%= link_to 'Subscribe to existing apartment', tenants_find_path(current_tenant) %> &nbsp | &nbsp
	<img src="/assets/png/glyphicons-364-cloud-download.png" class="glyphicons glyphicons-message-plus"></span> <%= link_to 'Register an apartment', new_apartment_path %> &nbsp | &nbsp
	<img src="/assets/png/glyphicons-151-edit.png" class="glyphicons glyphicons-message-plus"></span> <%= link_to 'Post a Notice', new_notice_path %> &nbsp | &nbsp
	<img src="/assets/png/glyphicons-125-message-plus.png" class="glyphicons glyphicons-message-plus"></span> <%= link_to 'Connect to an Apartment', new_connection_path %> 

	<p class="apartment-name"> 
	<% if current_tenant.apartment %> </br>
		<%= link_to current_tenant.apartment.apartment_name, buildings_about_path(current_tenant.apartment.building) if current_tenant.apartment %>
	<% end %>
		</p>
</p>	
	<p>
	<div class="all-apartments-container">
		<div class="apartment-tenants">
			<h2> Apartment Information </h2>

			<% if current_tenant.apartment %>

					<%= current_tenant.apartment.apartment_name %> </br>
					<%= current_tenant.apartment.number_of_tenants %> tenants: </br> </br>

					<div class="tenant-info">
					<% Tenant.where(apartment: current_tenant.apartment).each do |tenant| %>
						<% if tenant.apartment_id == current_tenant.apartment_id %>
							Name: <%= tenant.full_name	%> </br>
							Phone: <%= tenant.phone_number %> </br>
							Email: <%= tenant.email %> </br> </br>
						<% end %>
					<% end %></div>	
				</div>

				<div class="apartment-notices">
					<h2> <%= link_to 'Notice Board', notices_path %> </h2>

					<% Notice.all.reverse.each do |notice| %>
						<% if notice.apartment == current_tenant.apartment %>
							<%= notice.apartment.apartment_name if notice.apartment %> </br>
							From: <%= notice.tenant.full_name if notice.tenant %> 
							<%= notice.landlord.full_name if notice.landlord %>  </br>				
							Type: <%= notice.notice_type %> </br>
							Subject: <%= notice.title %> </br>
							<%= simple_format(notice.body)%> </br>	
							<%= notice.get_time %>
							<hr>
						<% end %>
					<% end %>
				</div>
			<% end %>
	</p>
</div>
<p>
<% elsif landlord_signed_in? %> 
	<%= link_to 'Invite a Tenant', new_tenant_path %> &nbsp | &nbsp
	<%= link_to 'Register a building', new_building_path %> &nbsp | &nbsp
	<img src="/assets/png/glyphicons-364-cloud-download.png" class="glyphicons glyphicons-message-plus"></span> <%= link_to 'Register an apartment', new_apartment_path %> &nbsp | &nbsp
	<img src="/assets/png/glyphicons-151-edit.png" class="glyphicons glyphicons-message-plus"></span> <%= link_to 'Post a Notice', new_notice_path %> 
</p>
</br>
<div class="all-apartments-container">
	<div class="apartment-tenants">
		<h2> Building Information </h2>
		<% Building.all.each do |building| %>
			<% if building.landlord == current_landlord %>
				<%= link_to building.building_name, building_path(building) %> <br>
				<%= building.number_of_apartments %> apartment(s)
			<% end %> </br> <hr> </br> </br>
		<% end %>
	</div>

	<div class="apartment-notices">
		<h2> <%= link_to 'Notice Board', notices_path %> </h2>
		<% Notice.all.reverse.each do |notice| %>
			<% if notice.landlord == current_landlord %>
				<%= notice.apartment.apartment_name if notice.apartment %> </br>
				From: <%= notice.tenant.full_name if notice.tenant %> 
				<%= notice.landlord.full_name if notice.landlord %>  </br>				
				Type: <%= notice.notice_type %> </br>
				Subject: <%= notice.title %> </br>
				<%= simple_format(notice.body)%> </br>	
				<%= notice.get_time %>
				<hr>
			<% end %>
		<% end %>
	</div>
<% else %>
</div>

<h3 class="stats-container">
	<div id="stats"><%= Tenant.count %></div> subscribed tenants in 
	<div id="stats"><%= Apartment.count %></div> apartments in 
	<div id="stats"><%= Building.count %></div> buildings with 
	<div id="stats"><%= Landlord.count %></div> landlords.
</h3>
<% end %>


</div>