<div class="notice-label">
  First Name: </br> </br>
  Last Name:: </br> </br>
  Phone Number: </br></br>
  Email: </br></br>
</div>


<div class="notice-form">
<%= simple_form_for @landlord do |f| %>

    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :phone_number, required: true, autofocus: true %>
	<%= f.input :email, label_method: :email %> <br>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>

