<!DOCTYPE html>
<html>
<head>
  <title>Reach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<link href='http://fonts.googleapis.com/css?family=Lobster|Lobster+Two:700italic|Courgette' rel='stylesheet' type='text/css'>

<body>

<div class="">

	<% if tenant_signed_in? %> 
		<%= link_to 'Home', root_path %> &nbsp | &nbsp
		<%= link_to 'Edit Account', edit_tenant_path(current_tenant) %>  &nbsp | &nbsp
		<%= link_to 'Sign Out', destroy_tenant_session_path, method: :delete,  :confirm => 'Are you sure?'  %> &nbsp | &nbsp
		<%= current_tenant.email %> <sup> for tenants </sup>
	<% elsif landlord_signed_in? %>
		<%= link_to 'Home', root_path %> &nbsp | &nbsp
		<%= link_to 'Edit Account', edit_landlord_path(current_landlord) %>  &nbsp | &nbsp
		<%= link_to 'Sign Out', destroy_landlord_session_path, method: :delete,  :confirm => 'Are you sure?'  %> &nbsp | &nbsp
	    <%= current_landlord.email %> <sup> for landlords </sup>
	<% else %>
		<%= link_to 'Home', root_path %> &nbsp | &nbsp
	    <%= link_to 'Sign In as Landlord', new_landlord_session_path %>	&nbsp | &nbsp
	    <%= link_to 'Sign In as Tenant', new_tenant_session_path %>
    <% end %>
    
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
